<!DOCTYPE html>
<html>
  <head>
    <title>Simaru - Retourenmanagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <h1 style="font-size: 28px;">R端cksendung Ank端ndigen</h1>
      <div class="row">
        <div class="input-field col s12" id="item-checkboxes"></div>
      </div>
      <form id="retoure-form">
        <input type="hidden" id="psid" name="psid" />
        <div class="row">
          <div class="input-field col s12">
            <input
              placeholder="gib uns die Chance noch besser zu werden"
              id="retour-reason"
              type="text"
              class="validate"
            />
            <label for="retour_reason">R端cksendegrund</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
              id="returnsubmit"
            >
              Retour ank端ndigen <i class="material-icons right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");
      window.extAsyncInit = function() {
        MessengerExtensions.getContext(
          "273117870027761",
          function success(thread_context) {
            document.getElementById("psid").value = thread_context.psid;
            console.log(thread_context.psid);
          },
          function error(err) {
            // error
          }
        );

        // the Messenger Exstensions JS SDK is done loading
        bOrderID = null;
        console.log("hallo hallo");
        var url_string = window.location.href;
        var url = new URL(url_string);
        if (url.searchParams.get("orderid") != null) {
          var orderID = url.searchParams.get("orderid");
          console.log(orderID);
        }
        $.getJSON("/webviews/settings?orderid=" + orderID, function(data) {
          bOrderID = data.bOrderID;
          console.log(bOrderID);

          let i = document.createElement("div");
          i.id = "orderPositions";

          data.items.forEach(element => {
            //let i = document.createElement("div");
            //i = document.getElementById("item-checkboxes");
            //let i = document.createElement("label");

            i.innerHTML += `<label>
        <input id="${element.BillbeeId}" sku="${
              element.Product.SKU
            }" type="checkbox" />
        <span>${element.Product.SKU}: ${element.Product.Title}</span>
      </label>`;

            document.getElementById("item-checkboxes").appendChild(i);
          });
        });
      };

      document
        .getElementById("returnsubmit")
        .addEventListener("click", function() {
          let retourReason = document.getElementById("retour-reason").value;
          console.log(retourReason);
          let productItems = document.getElementById("orderPositions")
            .childNodes;
          let productItemIDs = [];
          let productItemSKUs = [];
          productItems.forEach(function(element) {
            if (element.childNodes[1].checked) {
              productItemIDs.push(element.childNodes[1].id);
              productItemSKUs.push(element.childNodes[1].getAttribute("sku"));
            }
          });
          console.log(productItemIDs);
          console.log(productItemSKUs);

          $.get(
            `/webviews/announce-return?borderid=${bOrderID}&retourreason=${retourReason}&psid=${
              document.getElementById("psid").value
            }&retourskus=${encodeURIComponent(
              JSON.stringify(productItemSKUs)
            )}`,
            function(data, status) {
              //alert("Data: " + data + "\nStatus: " + status);
            }
          );

          setTimeout(function() {
            MessengerExtensions.requestCloseBrowser(
              function success() {
                // webview closed
              },
              function error(err) {
                // an error occured
              }
            );
          }, 1000);

          event.preventDefault();
        });
    </script>
  </body>
</html>
